.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
}

.container > section.search
{
  width: 100%;
}

/* 响应式布局 */
/* screen < 992px */
.container > section.clock
{
  margin-top: 8vh;
}
/* screen > 992px */
@media screen and (min-width: 992px)
{
  .container > section.clock
  {
    margin-top: 16vh;
  }
}

.container > section:not(:last-child)
{
  margin-bottom: 30px;
}
